*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
button{
    font-family: 'Roboto', sans-serif;

    outline: none;
    border: none;
    user-select: none;
}
.b1{
    position: relative;
    width: 250px;
    height: 70px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: #080808;
    color: whitesmoke;
    border-radius: 0px 25px 0px 25px;
    overflow: hidden;
}
.b2{
    position: relative;
    width: 150px;
    height: 150px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    font-weight: bolder;
    background-color: white;
    font-size: 40px;
    border-left: 10px solid #080808;
    border-right: 10px solid #080808;
}
input{
    position: absolute;
    left: 300px;
}